<div
  class="face-snap-card"
  [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }"
  *ngIf="faceSnap$ | async as faceSnap"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <div>
    <img src="{{ faceSnap.imageUrl }}" alt="{{ faceSnap.title }}" />
  </div>
  <p>{{ faceSnap.description }}</p>
  <p>
    <small>
      Mis en ligne le
      {{ faceSnap.createdDate | date }}
    </small>
  </p>
  <p *ngIf(faceSnap.location)>Photo prise à {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
    <small
      >Nombre de snaps:
      <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
        >{{ faceSnap.snaps | number: '1.0-1' }}
      </span>
    </small>
  </p>
  <div>
    <button routerLink="/facesnaps">Retour vers la liste des face-snaps</button>
  </div>
</div>
